# Virtual Environments
/venv
/env 
/.env 
/.venv 
# IDE stuff
/.vscode
/.idea
/.fleet
/.nova
# Cache and other Django specific stuff
/__pycache__/ 
*.log
*.pot
*.pyc 
local_settings.py
pip-log.txt
pip-delete-this-directory.txt
# Database
db.sqlite3
